@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

*{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body{
  margin: 0;
  padding: 0;
}

nav{
  height: 50px;
  padding: 0 2em;
  display: block;
  text-align: right;
  background: #F4F4F4;
  box-shadow: 0 4px 10px #ccc;
  margin-bottom: 1em;
}

nav a{
  display: inline-block;
  text-decoration: none;
  padding: 1em 1em;
  color: #333;
  transition: 1s color;
}

nav a:hover{
  color: #ef4663;
}

.search{
  float:left;
  padding: 0.7em 1em;
  display: inline-block;
}

.search input{
  background: transparent;
  border: 0;
  outline: none;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  border-bottom: 2px solid #bbb;
  transition: 1s border-color;
  font-size: 12pt;
  font-weight: 300;
  color: #555;
}

.search input:focus{
  border-color: #ef4663;
}

.search input::placeholder{
  font-size: 12pt;
  color: #bbb;
}
