.wrapper{
  clear: both;
}

.wrapper input,.wrapper select,.wrapper textarea{
  display: block;
}

.wrapper form input[type="text"], select, input[type='date'], input[type='checkbox'], textarea {
    padding: 0.3em 1em;
    border: 2px solid #ccc;
    margin-bottom: 1em;
    width: 400px;
    background: #fff;
    box-sizing: border-box;
}

.wrapper form {
    width: 400px;
    margin: 0 auto;
    padding: 1em;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.21);
}

label {
    color: #444;
}

input[type='file']{
  width: 0.1px;
  height: 0.1px;
  outline: none;a
}

label[for='foto'], input[type='reset'], input[type='submit']{
  width: 140px;
  float: right;
  display: inline-block;
  border: none;
  font-size: 0.8em;
  text-align: center;
  background: #444;
  box-sizing: border-box;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #fff;
  cursor: pointer;
}

.col1, .col2{
  vertical-align: top;
  width: 50%;
  display: inline-block;
  text-align: center;
}

img#preview {
    width: 400px;
    margin-top: -15px;
    margin-bottom: 10px;
}
